apple*/*
llvm*/*
templight*/*
intel*/*
gcc*/*
xcode/*
build*/*
build/
debug/
debug*/*
output.cc
save-commands.json
.idea
.tags
.DS_Store
__pycache__/
*.sublime-project
*.sublime-workspace
.git*
.git*/*
wheel*/
external/json/tests
external/json/benchmarks
